ul {
    list-style-type: none;
}

li:hover {
    background-color: #6495ed;
}

.cat-list-item {
    display: block;
    width: 125px;
    background-color: #d3d3d3;
    padding: 2px;
    margin: 3px;
}

.cat-list-item:first-of-type {
    margin-top: 10px;
}

#cat-image-wrapper {
    display: block;
    width: 200px;
    height: 125px;
    overflow: hidden;
    margin-top: 3px;
}

#cat-image {
    max-width: 100%;
    height: auto;
}

#counter, #cat-name {
    font-size: 25px;
    font-weight: bold;
}
